/* productComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .product {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }