<h1> About Garden's Galore </h1>
<img src = "../assets/groupofpeopletwo.jpg">
<div class = "aboutBlurb">
<p>
  Garden's Galore was founded in 1992 by a passionate group of plant-loving people. Today, we are driven to provide to you the most high-quality plants and gardening supplies for even your most abitious gardening plans.</p> 
<p>We are proud to be employee-owned. We are gardeners ourselves and have earned our customers' trust by providing high-quality products, expert information, and friendly, personalized service. We understand the products we sell and we use them in our own gardens. We also provide regular training and information services to our customers in order to help make their projects a reality.</p>
</div>
<h2>Contact Us</h2>
<div class="container">
  <form action="https://formspree.io/savannahlromero@gmail.com" method="POST">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>