<img src="../assets/IconFixed.png">

<div class ="homeparagraph">
  <p>
    Welcome to Garden's Galore! Where we've got dirt on the competition. Our mission is to reach the human population globally and to spread green living to all. We take pride in our afforable prices for our customers to benefit in gardening. Whether you want to bring life to your outdoor patio area, want to bring life to an outdoor event area, or want to plant trees to bring more oxygen t the world! 
  </p>
</div>
<img src ="../assets/homepagepic2.jpg">


